<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="SettingKey1" value="Settings 1 Value"/>
    <add key="SettingKey2" value="Settings 2 Value"/>
  </appSettings>
</configuration>
